<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://web1.dev.circonus.net/c/s.css" rel="stylesheet" media="screen" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="http://web1.dev.circonus.net/favicon.ico" />
  </head>
<body class="enterprise">
	<div id="masthead">
      <div id="header">
	    <span class="app-logo"> <a href="http://circonus.com/" title="Circonus Home"> <img id="logo" alt="Circonus: Performance Monitoring &mdash; Revolutionized." src="http://web1.dev.circonus.net/i/present/app-logo.png"> </a></span>
	  </div>
	</div>
	<div id="page-content" class="clear">
		{% if error %}
	 
		{{ error }}
	 
		{% endif %}
		<div id="userlogin">
			<h2 class="form-head">Set Initial Password</h2>
			<form class="sign-in" action="" method="post">
			{{ form.as_p }}
			<input type="submit" value="Submit &raquo;" />
			</form>
		</div>	
		<img class="logo" src="http://web1.dev.circonus.net/i/content/circonus-enterprise-icon.png" />
		<p class="intro">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat auctor ligula, sit amet blandit arcu ultrices in. Mauris sit amet nulla in purus blandit varius. Donec ac rutrum lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus quis ante id metus molestie vulputate vitae sed lacus. Suspendisse vehicula mi vitae neque aliquet congue. 
		</p>


	</div>
</body>
</html>

