<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/c/s.css" rel="stylesheet" media="screen" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  </head>
<body class="enterprise">
	<div id="masthead">
      <div id="header">
	    <span class="app-logo"> <a href="http://circonus.com/" title="Circonus Home"> <img id="logo" alt="Circonus: Performance Monitoring &mdash; Revolutionized." src="/i/present/app-logo.png"> </a></span>
	  </div>
	</div>
	<div id="page-content" class="clear">
		{% if error %}
	 
		{{ error }}
	 
		{% endif %}
		<div id="userlogin">
			<h2 class="form-head">Set Initial Password</h2>
			<form class="sign-in" action="" method="post">
			{{ form.as_p }}
			<input type="submit" value="Submit &raquo;" />
			</form>
		</div>	
		<img class="logo" src="/i/content/circonus-enterprise-icon.png" />
		<p class="intro">
		Welcome to your new Circonus Enterprise Agent.  In order to get started you will need to set a username and password for access to this appliance going forward.  This is not your Circonus online password, but simply a username and password that will protect your device from unauthorized administrative access.  You will need this password to access the appliance for configuration and maintenance.
		</p>


	</div>
</body>
</html>

