<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/c/s.css" rel="stylesheet" media="screen" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  </head>
<body class="enterprise initial">
	<div id="masthead">
      <div id="header">
	    <span class="app-logo"> <a href="http://circonus.com/" title="Circonus Home">Circonus | Organization-wide Monitoring</a></span>
	  </div>
	</div>
	<div class="page">
	<div id="page-content" class="clear">
             <div id="userlogin">
                <h2 class="form-head">Login to Appliance</h2>
                <form class="sign-in" method="post" action="{% url django.contrib.auth.views.login %}">
						<p>
		    				{{ form.username.label_tag }}
		    				{{ form.username }}
						</p>
						<p>
	    					{{ form.password.label_tag }}
		    				{{ form.password }}	
						</p>

					{% if form.errors %}
					<p class="error-msg">Your username and password didn't match. Please try again.</p>
					{% endif %}
					<input type="submit" value="login" />
					<input type="hidden" name="next" value="{{ next }}" />
				</form>

            </div>	
            <img class="logo" src="/i/content/circonus-enterprise-icon.png" />
            <p class="intro">
            Welcome back to the Circonus Enterprise Broker appliance. Login to the dashboard to view logs and manage your broker.  
            </p>
        </div>
	</div>
</body>
</html>
