<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/c/s.css" rel="stylesheet" media="screen" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  </head>
<body class="enterprise">
	<div id="masthead">
      <div id="header">
	    <span class="app-logo"> <a href="http://circonus.com/" title="Circonus Home"> <img id="logo" alt="Circonus: Performance Monitoring &mdash; Revolutionized." src="/i/present/app-logo.png"> </a></span>
	  </div>
	</div>
	<div id="page-content" class="clear">
	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form method="post" action="{% url django.contrib.auth.views.login %}">
		<table>
		<tr>
		    <td>{{ form.username.label_tag }}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
	    	<td>{{ form.password.label_tag }}</td>
		    <td>{{ form.password }}</td>	
		</tr>
		</table>
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
	</div>
</body>
</html>
