<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/c/s.css" rel="stylesheet" media="screen" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  </head>
<body class="enterprise">
	<div id="masthead">
      <div id="header">
	    <span class="app-logo"> <a href="http://circonus.com/" title="Circonus Home"> <img id="logo" alt="Circonus: Performance Monitoring &mdash; Revolutionized." src="/i/present/app-logo.png"> </a></span>
	  </div>
	</div>
	<div id="page-content" class="clear">
		<div class="content-col right">
	    <h2 id="provision-head" class="form-head">Provision Agent</h2>
    	<form id="login_form" method="POST">
    	  <fieldset id="step_1" class="first_step">
    	   	<legend><em>1.</em> Enter Circonus Credentials</legend>
    	   	<div id="circonus-creds">
			<label for="login_email">Email</label>
			<input id="login_email" type="text" name="email" />
			<label for="login_password">Password</label>
			<input id="login_passord" type="password" name="password" />
			</div>
      	  </fieldset>
          <fieldset id="step_2">
            <legend><em>2.</em> Select Account</legend>
			<select name="account">
			</select>
      	  </fieldset>
      	  <fieldset id="step_3" class="last_step">
      	  <legend><em>3.</em> Select Agent to Provision</legend>
      	  <ul id="avail-agents">
      	  </ul>
      	  </fieldset>
      	  <p class="submit-block">
      	  <input type="submit" value="Next &raquo;">
      	  </p>
    	</form>
    	</div>
    	<img class="logo" src="/i/content/circonus-enterprise-icon.png" />
		<p class="intro">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat auctor ligula, sit amet blandit arcu ultrices in. Mauris sit amet nulla in purus blandit varius. Donec ac rutrum lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus quis ante id metus molestie vulputate vitae sed lacus. Suspendisse vehicula mi vitae neque aliquet congue. 
		</p>
    </div>
    <script src="/js/jquery.min.js"
	    type="text/javascript"></script>
    <script type="text/javascript">
      jQuery(function ($)
      {
          var $form = $("#login_form"),
              $email = $form.find("#login_email"),
              $pass = $form.find("[type=password]"),
              $submit = $form.find("[type=submit]"),
              $step1 = $form.find("#step_1"),
              $step2 = $form.find("#step_2"),
              $account = $step2.find("[name=account]");
              $step3 = $form.find("#step_3"),
              accounts = {};

          $form.bind("submit", step2);

          function step2(e)
          { 
              e.preventDefault(); // stop submission
              $submit.val("Next");

              // make XHR call
              $.ajax({
                  url: "/api/json/list_accounts",
                  type: "POST",
                  data: { email: $email.val(), password: $pass.val() },
                  dataType: "json",
                  success: function (data, status, request)
                  {
                      $form.unbind("submit", step2).bind("submit", step3);

                      // create / draw select box
                      $account.empty();
                      $.each(data, function (i, acct)
                      {
                          var $option = $("<option>")
	                          .attr({
	                              value: acct.account,
	                              text: acct.account_name + " ("+ acct.account +")"
                                  });
                          $account.append($option); 

	                  // store by id to access later
	                  accounts[acct.account] = acct;
                      });

                      $step2.show();

                  },
                  error: function (request, status, error)
                  {
	              console.log("error", arguments);
                  }
              });
          }

	  function step3(e)
	  {
	      e.preventDefault();
	      $submit.val("Get Certificates");
	      
	      // get radios
	      $.ajax({ 
	          url: "/api/json/list_private_agents",
	          type: "POST",
	          dataType: "json",
	          data: {
	              email: $email.val(), 
	              password: $pass.val(), 
	              account: $account.val()
                  },
	          success: function (data, status, request)
	          {
	          	  var $list = $('#avail-agents').empty();
                  $form.unbind("submit", step3).bind("submit", step4);
	              $.each(data, function (i, agent)
	              {
	                  var input_id = "agent_" + agent.agent_name.replace(/\W+/g, "_"),
	                      $label = $("<label>")
	                          .attr({"for": input_id})
	                          .text(agent.agent_name),
	                      $radio = $("<input>")
	                          .attr({
	                              type: "radio",
	                              name: "cn",
	                              id: input_id,
	                              value: agent.cn
	                          });
	                  $list.append($radio).append($label).show();
	              });
	              $step3.show();
	          },
	          error: function (request, status, error)
	          {
	              console.log("error", arguments);
	          }
	      });
	     
	  }

	  function step4(e)
	  {
	      var id = $account.val(),
	          hidden_vals = ["country_code", "state_prov", "account_name"];

	      $form.unbind('submit', step4);

	      $.each(hidden_vals, function (i, hide)
	      {
	          var $hidden = $("<input>")
	                  .attr({
                              type: "hidden",
	                      name: hide,
                              value: accounts[id][hide] ?
                                         accounts[id][hide] : '??'
                          });

	          $form.append($hidden);
	      });

	  }
      });

    </script>
  </body>
</html>
