<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="60">
    <link href="/c/s.css" rel="stylesheet" media="screen" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  </head>
<body class="enterprise">
	<div id="masthead">
      <div id="header">
	    <span class="app-logo"> <a href="http://circonus.com/" title="Circonus Home"> <img id="logo" alt="Circonus: Performance Monitoring &mdash; Revolutionized." src="/i/present/app-logo.png"> </a></span>
	  </div>
	</div>
	<div id="page-content" class="clear">
		<h1 class="waiting-copy">Awaiting provisioning by Circonus.</h1>
	</div>
</body>
</html>
